{% extends 'PasaRequirementBundle::layout.html.twig' %}

{% block content %}
<h1>Manager</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>First_name</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Last_name</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>Salt</th>
            <td>{{ entity.salt }}</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>{{ entity.password }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Is_active</th>
            <td>{{ entity.isactive }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('manager') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('manager_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('manager_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}